<VirtualHost *:80>
    ServerName *
    # ServerName proteomescout.uvadcos.io
    ServerAdmin proteomescout@virginia.edu

    DocumentRoot /data/pyramid

#    WSGIApplicationGroup %{GLOBAL}
#    WSGIPassAuthorization On
#    WSGIDaemonProcess pyramid user=www-data group=www-data threads=8 \
#       python-path=/usr/bin/python
#    WSGIScriptAlias / /data/pyramid/pyramid.wsgi

    <Directory /data/pyramid>
 #     WSGIProcessGroup pyramid
      Order allow,deny
      Allow from all
    </Directory>
</VirtualHost>

# <VirtualHost *:443>
#     ServerName proteomescout.wustl.edu
#     ServerAdmin proteomescout@seas.wustl.edu
# 
#     WSGIApplicationGroup %{GLOBAL}
#     WSGIPassAuthorization On
#     WSGIDaemonProcess pyramid user=www-data group=www-data threads=8 \
#        python-path=/usr/bin/python
#     WSGIScriptAlias / /data/pyramid/pyramid.wsgi
# 
#     SSLEngine On 
#     SSLCertificateFile /usr/local/ssl/crt/public.crt
#     SSLCertificateKeyFile /usr/local/ssl/private/private.key
#     SSLCertificateChainFile /usr/local/ssl/crt/intermediate.crt
# 
#     <Directory /data/pyramid >
#       WSGIProcessGroup pyramid
#       Order allow,deny
#       Allow from all
#     </Directory>
# </VirtualHost>
